---
import Hero from '../components/Hero.astro';
import krawczyk1 from '../images/krawczyk1.png';
---
<html lang="pl">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Krzysztof Krawczyk - oficjalna strona</title>
	</head>
	<body>
		<main>
			<Hero/>
		</main>
	</body>
</html>