---
import MenuIcon from "./icons/MenuIcon.astro";
import XIcon from "./icons/XIcon.astro";
import ContactForm from "./ContactForm";
---

<div id="openButton" class="button">
    <MenuIcon/>
</div>
<div id="sidebar">
    <div id="closeButton" class="button">
        <XIcon/>
    </div>
    <ContactForm client:visible/>
</div>

<script>
    function openSidebar() {
        const el = document.getElementById("sidebar");
        el.style.right = "0%";
        el.style.visibility = "visible";
    }
    function closeSidebar() {
        const el = document.getElementById("sidebar");
        el.style.right = "-50%";
        el.style.visibility = "hidden";
    }
    document.getElementById("openButton").addEventListener("click", () => {
        openSidebar();
    })
    document.getElementById("closeButton").addEventListener("click", () => {
        closeSidebar();
    })
</script>

<style>
    div.button {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }
    div#openButton {
        position: fixed;
        right: 0;
        top: 0;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
    }
    div#openButton:hover {
        background-color: rgba(0, 0, 0, 0.75);
    }
    div.button:hover {
        cursor: pointer;
    }

    div#sidebar {
        position: fixed;   
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 4px;
        background-color: white;
        transition: 0.5s ease-in-out;
    }

    @media only screen and (max-width: 480px) {
        div#sidebar {
            width: 100%;
        }
    }

    div#sidebar.open {
        right: 0%;
        visibility: visible;
    }

    div#sidebar.closed {
        right: -50%;
        visibility: hidden;
    }
</style>